<%- include("../partials/header"); %>

<div class="container contenedor-top mb-5">
      <h2 class="text-center mb-4 text-capitalize font-weight-light">Actualiza el fabricante: <%= fabricante.nombre %></h2>
      <div class="row d-flex justify-content-center ">
          <div class="col-md-10">
              <form action="/fabricantes/actualizar?_method=PUT" method="post">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="nombre">Nombre</label>
                      <input value="<%= fabricante.id %>" name="id" type="hidden">
                      <input required value="<%= fabricante.nombre %>" name="nombre"  type="text" class="form-control" id="nombre" placeholder="Escribe el nombre del fabricante">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="rif">Rif</label>
                      <input required name="rif"  value="<%= fabricante.rif %>" type="number" class="form-control" id="rif" placeholder="Rif del fabricante">
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-5">
                    <label for="direccion">Direccion</label>
                    <input  required   value="<%= fabricante.direccion %>"  name="direccion" type="text" class="form-control" id="direccion" placeholder="Dirección del fabricante">
                      </div>
                      <div class="form-group col-md-5">
                    <label for="contacto">Contacto</label>
                    <input  required   value="<%= fabricante.contacto %>"  name="contacto" type="text" class="form-control" id="contacto" placeholder="Dirección del fabricante">
                      </div>
                    <div class="form-group col-md-2">
                      <label for="telefono">Teléfono</label>
                      <input  required name="telefono"  value="<%= fabricante.telefono %>" type="number" class="form-control" placeholder="Teléfono" id="telefono">
                    </div>
                  </div>
                  <div class="form-group">
                  <button type="submit" class="text-uppercase btn btn-info btn-block">Actualizar fabricante</button>
                </form>
          </div>
      </div>
  </div>

<!-- <div class="col-12">
    <br>
    <br>
    <br>
    <h1>Editar fabricantes</h1>
    <form method="POST" action="/fabricantes/actualizar?_method=PUT">
        <input value="<%= fabricante.id %>" name="id" type="hidden">
		<div class="form-group">
            <label for="rif">Rif</label>
            <input value="<%= fabricante.rif %>" required id="rif" placeholder="Rif del fabricante"
                class="form-control" type="text" name="rif" disabled>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input value="<%= fabricante.nombre %>" required id="nombre" placeholder="Nombre del fabricante"
                class="form-control" type="text" name="nombre">
        </div>
		<div class="form-group">
            <label for="telefono">Teléfono</label>
            <input value="<%= fabricante.telefono %>" required id="telefono" placeholder="Telefono del fabricante"
                class="form-control" type="text" name="telefono">
        </div>
		<div class="form-group">
            <label for="direccion">Dirección</label>
            <input value="<%= fabricante.direccion %>" required id="direccion" placeholder="Dirección del fabricante"
                class="form-control" type="text" name="direccion">
        </div>
		<div class="form-group">
            <label for="contacto">Contacto</label>
            <input value="<%= fabricante.contacto %>" required id="contacto" placeholder="Nombre del contacto"
                class="form-control" type="text" name="contacto">
        </div>
        
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/fabricantes" class="btn btn-primary">Volver</a>
        </div>
    </form>
</div> -->
<%- include("../partials/footer"); %>